#include("/public/common.html")
<body>
<form id="FF" method="post">
    <div class="toolsearch">
        <div id="search" class="search">
            <div class="searchcontent"><input name="name" class="easyui-textbox" data-options="width:230,height:40,prompt:'请输入中文或是英文名称',onChange:function(record){XB.search();}"></div>
            <div class="searchsplit"></div>
            <div class="xbbutton xbbutton-blue searchcontent" onclick="XB.search();"><i class="fa fa-search" aria-hidden="true"></i>查 询</div>
        </div>
        #buttonDirective()
        <div style="clear:both;"></div>
    </div>
    <div id="tabelContent" class="tabelContent">
        <table id="datagrid"></table>
    </div>
</form>
<script>
    $(function () {
        var columns = [
            {field: 'id', checkbox: true},
            {field: 'userName', title: '用户名', width: 10},
            {field: 'realName', title: '真实姓名', width: 12},
            {field: 'roleId', title: '角色', width: 10},
            {
             field: 'status', title: '状态', width: 8, sortable: false
            },
            {field: 'psdErrorCount', title: '密码错误次数',sortable: true, width: 10},
            {field: 'loginCount', title: '累计登录次数', sortable: true,width: 10},
            {field: 'loginDate', title: '最近登录时间',sortable: true, width: 15 },
            {field: 'loginIp', title: '最近登录IP', width: 10},
            {field: 'loginCity', title: '最近登录IP所属地', width: 15},
        ];
        XB.datagrid({"columns": columns});
        XB.enter();
    });
</script>
</body>
</html>
