﻿#include("/public/common.html")
<body class="easyui-layout">
<div data-options="region:'west',collapsible:false,border:false,width:240,title:'分类选择'">
    <ul id="LeftTree"></ul>
</div>
<div data-options="region:'center',border:false" style="overflow:hidden;">
    <form id="FF" method="post">
        <div class="toolsearch">
            <div id="search" class="search">
                <div class="searchcontent">
                    <td>接口分类：</td>
                    <td>
                        <select  name="type"class="easyui-combotree"
                                 data-options="width:200,height:40,editable:false,url:'/ApiContent/getClassTree'"></select>
                    </td>
                    <td>
                        <input name="name" class="easyui-textbox" data-options="width:230,height:40,prompt:'接口名称',onChange:function(record){XB.search();}">
                        <input id="CategoriesID" name="CategoriesID" type="hidden">
                    </td>
                </div>
                <div class="searchsplit"></div>
                <div class="xbbutton xbbutton-blue searchcontent" onclick="XB.search();"><i class="fa fa-search" aria-hidden="true"></i>查 询</div>
            </div>
            #buttonDirective()
            <div style="clear:both;"></div>
        </div>

        <div id="tabelContent" class="tabelContent">
            <table id="datagrid"></table>
        </div>
        <input type="hidden" name="CategoriesID" value="#(CategoriesID)">
    </form>
</div>

<script>
    $(function () {
        $('#LeftTree').tree({
            url: '/admin/ApiContent/getClassTree',
            animate: true,
            lines: true,
            onClick: function (node) {
                $("#CategoriesID").val(node.id);
                XB.search();
            }
        });
        var columns = [
            {field: 'id', checkbox: true},
            {field: 'name', title: '接口名称', width: 15},
            {field: 'des', title: '接口说明', width: 25},
            {field: 'typeName', title: '接口所属分类', width: 10},
            {field: 'method', title: '请求方式', width: 10},
            {field: 'url', title: '访问地址', width: 15},
            {field: 'updateTime', title: '更新时间',sortable: true, width: 15,

            }
        ];
        XB.datagrid({"columns": columns,"url": "/ApiContent/DataList"});
        XB.enter();
    });
</script>

</body>
</html>
