<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更改密码</title>
    #include("/public/common.html")
</head>
<body class="Bodybg">
<form id="FF" class="easyui-form" method="post" data-options="novalidate:true">
    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="EditTable">
        <thead>
        <tr>
            <td colspan="2">说明：带<span class="Red">*</span>必填；</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="120" align="right"><span class="Red">*</span>原始密码：</td>
            <td>
                <input id="password" name="password" type="text" class="easyui-textbox"  data-options="required:true,width:200,height:40,validType:['length[6,15]']"/>
                <span class="Hui"> 当前登录的密码</span>
            </td>
        </tr>
        <tr>
            <td width="120" align="right"><span class="Red">*</span>新的密码：</td>
            <td>
                <input id="newPwd" name="newPwd" type="text" class="easyui-textbox" data-options="required:true,width:200,height:40,validType:['length[6,15]']"/>
                <span class="Hui"> 请设置一个新的密码，长度不低于6位</span>
            </td>
        </tr>
        <tr>
            <td width="120" align="right"><span class="Red">*</span>确认密码：</td>
            <td>
                <input id="confirmPwd" name="confirmPwd" type="text" class="easyui-textbox" data-options="required:true,width:200,height:40,validType:['length[6,15]']"/>
                <span class="Hui"> 重复输入新密码,和设置的新密码保持一致</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="height:230px;"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>