<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    #include("/public/common.html")
</head>
<body>
<form id="FF" method="post">
    <div class="toolsearch">
        <div id="search" class="search">
            <div class="searchcontent">
                <select id="status" class="easyui-combobox" name="status" data-options="width:200,height:40" panelHeight="120px">
                    <option value="">全部</option>
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                </select>
                <input name="name" class="easyui-textbox" data-options="width:230,height:40,prompt:'请输入搜索关键字',onChange:function(record){XB.search();}">
            </div>
            <div class="searchsplit"></div>
            <div class="xbbutton xbbutton-blue searchcontent" onclick="XB.search();"><i class="fa fa-search" aria-hidden="true"></i>查 询</div>
        </div>
        <div class="xbbutton-group">
            <div class="xbbutton" onclick="openURL('add')"><i class="fa fa-plus"></i> 添加</div>
            <div class="xbbutton" onclick="openURL('edit')"><i class="fa fa-pencil"></i> 修改</div>
            <div class="xbbutton" onclick="openURL('delete')"><i class="fa fa-minus"></i> 删除</div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div id="tabelContent" class="tabelContent">
        <table id="datagrid"></table>
    </div>
</form>
<script>
    $(function () {
        $('#datagrid').treegrid({
            rownumbers: true,
            animate: true,
            border: false,
            url: 'DataList',
            lines: true,
//            checkbox:true,
            singleSelect : false,
            idField: 'id',
            treeField: 'name',
            columns: [[
                {field:'xxx',title:'xxx',width:100,checkbox:true},
                { field: 'name', title: '名称', width: '300' },
                {
                    field: 'status', title: '状态', width: 100, sortable: true
                },
                { field: 'sort', title: '排序', width: 100
                    , formatter : function(value){
                        if (value===99999) {
                            return "";
                        }else{
                            return value;
                        }
                    }}
            ]],
            onClickRow:function(row){
                if(row.state=='closed') {
                    $('#DataList').treegrid('reload', row.ID);
                }else{
                    $('#DataList').treegrid('toggle', row.ID);
                }
            },
            onLoadSuccess: function () {
            },
            onDblClickRow: function (index, row) {
                console.log(index)
                $(this).datagrid('clearSelections').datagrid('selectRow', index.id);
                openURL('edit');
            }
        });
    });

    function PageSave(data) {
        if (data.result) {
            XB.success({ "message": data.message, "fn": function () { XB.reloadtreegrid(); $("#D1").dialog('close'); } });
        }
        else {
            XB.warning({ "message": data.message });
        }
    }

    function queryChild(row)
    {
        $(this).treegrid("options").url = "DataList?id="+row.id;
    }

    function openURL(type) {
        switch (type) {
            case 'add':
                XB.open({
                    'type': 'add',
                    'openmode': '1',
                    'dialog': {'url': '/admin/provinceCityCounty/edit/', 'title': '添加', 'width': 800, 'height': 500}
                });
                break;
            case 'edit':
                XB.open({
                    'type': 'edit',
                    'openmode': '1',
                    'dialog': {'url': '/admin/provinceCityCounty/edit/', 'title': '修改', 'width': 800, 'height': 500}
                });
                break;
            case 'delete':
                XB.open({'type': 'del', 'openmode': '3', 'dialog': {'url': '/admin/provinceCityCounty/delete/', 'title': '删除'}});
                break;
        }
    }
</script>
<div id="datagridMenu" class="easyui-menu" style="display:none;">
    <div data-options="name:'add'">添加</div>
    <div data-options="name:'edit'">修改</div>
    <div data-options="name:'delete'">删除</div>
    <div class="menu-sep"></div>
    <div data-options="name:'all'">全选</div>
    <div data-options="name:'clearall'">全不选</div>
    <div data-options="name:'anti'">反选</div>
    <div class="menu-sep"></div>
    <div>退出</div>
</div>
</body>
</html>
