#include("/public/common.html")
<body>
<form id="FF" method="post">
    <div class="toolsearch">
        <div id="search" class="search">
            <div class="searchcontent"><input name="name" class="easyui-textbox" data-options="width:230,height:40,prompt:'请输入中文或是英文名称',onChange:function(record){XB.search();}"></div>
            <div class="searchsplit"></div>
            <div class="xbbutton xbbutton-blue searchcontent" onclick="XB.search();"><i class="fa fa-search" aria-hidden="true"></i>查 询</div>
        </div>
        #buttonDirective()
        <div style="clear:both;"></div>
    </div>
    <div id="tabelContent" class="tabelContent">
        <table id="datagrid"></table>
    </div>
</form>
<script>
    $(function () {
        // var columns = [
        //     {field: 'id', checkbox: true},
        //     {field: 'name', title: '中文名称', width: 25},
        //     {field: 'methodName', title: '英文名称', width: 10},
        //     {
        //         field: 'icon', title: '按钮预览', width: 30, formatter: function (value, row, index) {
        //             return '<div type="button" class="xbButton"><i class="fa ' + value + '"></i> <span>' + row.name + '</span></div>'
        //         }
        //     },
        //     {
        //         field: 'status', title: '状态', width: 10, sortable: true, formatter: function (value, row, index) {
        //             if (value == 1) {
        //                 return '<span class="xbtag">启用</span>';
        //             } else {
        //                 return '<span class="xbtag xbtag-info">禁用</span>';
        //             }
        //         }
        //     },
        //     {
        //         field: 'openMode', title: '窗口打开方式', width: 15, sortable: true,formatter:function (value, row, index) {
        //             if (value == 0) {
        //                 return '<span class="xbtag">无窗口打开</span>';
        //             } else if(value == 1){
        //                 return '<span class="xbtag xbtag-info">有交互的窗口</span>';
        //             }else if(value == 2){
        //                 return '<span class="xbtag xbtag-info">无交互的窗口</span>';
        //             }else if(value == 3){
        //                 return '<span class="xbtag xbtag-info">带确认的无窗口</span>';
        //             }else if(value == 4){
        //                 return '<span class="xbtag xbtag-info">新标签打开</span>';
        //             }else if(value == 5){
        //                 return '<span class="xbtag xbtag-info">表单提交打开</span>';
        //             }else if(value == 6){
        //                 return '<span class="xbtag xbtag-info">地址栏打开</span>';
        //             }
        //         }
        //
        //     }
        // ];
        // XB.datagrid({"columns": columns});
        // XB.enter();

        var columns = [
            {field: 'id', checkbox: true},
            {field: 'name', title: '中文名称', width: 25},
            {field: 'methodName', title: '英文名称', width: 10},
            {
                field: 'icon', title: '按钮预览', width: 30
            },
            {
                field: 'status', title: '状态', width: 10, sortable: false
            },
            {
                field: 'openMode', title: '窗口打开方式', width: 15, sortable: false
            }
        ];
        XB.datagrid({"columns": columns});
        XB.enter();
    });
</script>
</body>
</html>
