#include("/public/common.html")
<body>
<form id="FF" class="easyui-form" method="post" data-options="novalidate:true">
    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="edit">
        <tr>
            <td width="120" align="right"><span class="Red">*</span> ip：</td>
            <td>
                <input name="ip" type="text" class="easyui-textbox" data-options="width:300,height:40,required:true,validType:['length[1,100]']" />
            </td>
        </tr>
        <tr>
            <td align="right">状态：</td>
            <td>
                <select id="status" name="status" class="width300">
                    <option value="1">正常</option>
                    <option value="0">隐藏</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" id="id" name="id" value="#(id)" />
</form>

<style>
    .textbox-icon{
        font-size: 18px;
        line-height: 38px;
        padding-left: 5px;
        color: #333;
    }
</style>
<script>

    $(function () {
        var id="#(id)";
        if(id>0) {
            $("#FF").form('load', '../Show?id='+id+'&_=' + Math.random() + '');
        }
    });
</script>
</body>
</html>